@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 320px ) {
    html {
        font-size: 5px;
    }
}

@media screen and (max-width: 375px ) {
    html {
        font-size: 4px;
    }
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

dl, dt, dd, ul, li {
    list-style: none;
}

img {
    display: block;
    vertical-align: center;
}

#main {
    width: 64rem;
    height: 96rem;
    position: absolute;
    left: 50%;
    margin-left: -32rem;
    top: 0;
    -webkit-transform-origin: top;
    transform-origin: top;
}

.music {
    position: absolute;
    top: 5%;
    right: 15%;
    width: 5rem;
    height: 5rem;
    background: url("../images/music.svg") no-repeat;
    background-size: 100% 100%;
    z-index: 10000;
}

.move {
    -webkit-animation: musicMove 1s linear infinite;
    animation: musicMove 1s linear infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#main ul {
    width: 100%;
    height: 100%;
    position: absolute;
}

#main ul li {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

#main ul li:nth-of-type(1) {
    display: block;
    background: url("../images/page_home.jpg") no-repeat 50% 0%;
}

#main ul li:nth-of-type(2) {
    background: url("../images/page_6.jpg") no-repeat 50% 0;
}

#main ul li:nth-of-type(3) {
    background: url("../images/page_3.jpg") no-repeat 50% 0;
}

#main ul li:nth-of-type(4) {
    background: url("../images/page_1.jpg") no-repeat 50% 0;
}

#main ul li:nth-of-type(5) {
    background: url("../images/page_2.jpg") no-repeat 50% 0;
}

#main h3 {
    margin: 30% auto;
    margin-bottom: 20%;
    width: 100%;
    height: 8rem;
    text-align: center;
}

h3 span {
    display: inline-block;
    margin: 0 2rem;
    width: 8rem;
    height: 100%;
    background: url("../images/title.png") no-repeat;
}

h3 .ge {
    background-position: 3.5rem, 0;
}

h3 .ren {
    background-position: -5rem, 0;
}

h3 .jian {
    background-position: -12rem, 0;
}

h3 .li {
    background-position: -19.5rem, 0;
}

.first p.myName {
    font-size: 13rem;
    color: #424242;
    text-align: center;
    -webkit-animation: 1s infinite pulse;
    animation: 1s infinite pulse;
}

#main .arr {
    display: block;
    width: 9rem;
    height: 5.2rem;
    position: absolute;
    left: 50%;
    margin-left: -4.5rem;
    bottom: 23%;
    -webkit-animation: 1s arrMove infinite;
    animation: 1s arrMove infinite;
}

@keyframes arrMove {
    0% {
        transform: translateY(6rem);
        opacity: 0
    }
    50% {
        transform: translateY(3rem);
        opacity: 0.8
    }
    100% {
        transform: translateY(0);
        opacity: 0
    }
}

@-webkit-keyframes arrMove {
    0% {
        transform: translateY(6rem);
        opacity: 0
    }
    50% {
        transform: translateY(3rem);
        opacity: 0.8
    }
    100% {
        transform: translateY(0);
        opacity: 0
    }
}

.page_2 h4 {
    margin: 37% auto 0 auto;
    padding: .5rem;
    width: 6.5rem;
    font-size: 12rem;
    -webkit-animation: 1.5s fadeInUp;
    animation: 1.5s fadeInUp;
    text-align: center;
}

.helicopter {
    position: absolute;
    top: 17%;
    left: 50%;
    margin: -5rem;
    width: 12rem;
    height: 9.3rem;
    -webkit-animation: 1.5s bounceInUp;
    animation: 1.5s bounceInUp;
}

.page_2 dl {
    margin: 4rem auto;
    width: 90%;
    color: #0fa2fb;
}

.page_2 dl span {
    display: block;
    line-height: 7rem;
    opacity: 0;
    font-size: 9rem;
}

.page_2 dl dt {
    float: left;
    width: 35%;
    text-align: right;
}

.page_2 dl dt .nativePlace {
    -webkit-animation: 1.5s fadeInLeft;
    animation: 1.5s fadeInLeft;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.page_2 dl dt .mobile {
    -webkit-animation: 1.5s fadeInLeft .2s;
    animation: 1.5s fadeInLeft .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.page_2 dl dt .email {
    -webkit-animation: 1.5s fadeInLef .3s;
    animation: 1.5s fadeInLeft .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.page_2 dl .province {
    -webkit-animation: 1.5s fadeInRight;
    animation: 1.5s fadeInRight;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.page_2 dl .tel {
    -webkit-animation: 1.5s fadeInRight .2s;
    animation: 1.5s fadeInRight .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.page_2 dl .qq {
    -webkit-animation: 1.5s fadeInRight .3s;
    animation: 1.5s fadeInRight .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.page_2 dl dd {
    float: right;
    text-align: left;
    padding-right: 7.2rem;
}

.page_3 #tec {
    margin: 20% auto;
    margin-bottom: 10%;
    width: 100%;
    font-size: 15rem;
    text-align: center;
    color: #fff;
}

#page_3 div {
    width: 100%;
    margin: 0 auto;
    color: #424242;
    overflow: hidden;
}

#page_3 div div {
    margin: 10% 5%;
    height: 4rem;
    width: 80%;
}

#page_3 div div em {
    float: left;
    width: 12rem;
    height: 100%;
    font-size: 8rem;
    margin-right: 0rem;
    text-align: center;
    padding-left: 4rem;
}

#page_3 div div span {
    float: left;
    height: 100%;
    font-size: 8rem;
    background-color: #4ccbf9;
    padding-left: 5%;
}

#page_3 div div span.css {
    width: 40%;
}

#page_3 div div span.js {
    width: 58%;
}

#page_3 div div span.node {
    width: 48%;
}

.a2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.a2 p {
    width: 12.5rem;
    height: 7rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7.7rem;
    margin-top: -10.5rem;
    border-radius: 2rem;
    font-size: 6.6rem;
    font-weight: bold;
    color: white;
    line-height: 7rem;
    text-align: center;
}

.a2 p:nth-child(1) {
    background: deepskyblue;
}

.a2 p:nth-child(2) {
    background: plum
}

.a2 p:nth-child(3) {
    background: palegreen
}

.a2 p:nth-child(4) {
    background: palevioletred
}

.a2 p:nth-child(5) {
    background: lightpink;
}

.a2 p:nth-child(6) {
    background: deepskyblue
}

.a2 p:nth-child(7) {
    background: fuchsia
}

#a2 p {
    transform-origin: 50% 80%;
    -webkit-animation: shak 3s ease-in-out;
    animation: shak 3s ease-in-out
}

@-webkit-keyframes shak {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

@keyframes shak {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

#a2 p:nth-child(1) {
    left: 55%;
    top: 30%
}

#a2 p:nth-child(2) {
    left: 30%;
    top: 40%
}

#a2 p:nth-child(3) {
    left: 75%;
    top: 40%
}

#a2 p:nth-child(4) {
    left: 30%;
    top: 60%
}

#a2 p:nth-child(5) {
    left: 75%;
    top: 60%
}

#a2 p:nth-child(6) {
    left: 55%;
    top: 70%
}

#a2 p:nth-child(7) {
    left: 55%
}

#main li.zIndex {
    z-index: 6;
}